body {
  font-family: "Times New Roman", serif;
  background: #f2efe7;
  text-align: center;
  padding: 20px;
}

.certificate-container {
  width: 900px;
  height: 630px;
  margin: auto;
  padding: 40px;
  background: #f8f4ec;
  border: 10px solid #ccc;
  position: relative;
  box-shadow: 0 0 10px #999;
}

.logo {
  width: 130px;
  margin-bottom: 10px;
}

.title {
  font-size: 38px;
  margin: 5px 0;
  font-weight: bold;
}

.subtitle {
  font-size: 16px;
  letter-spacing: 2px;
  color: #555;
  margin: 15px 0 10px;
}

.small {
  font-size: 14px;
}

.username {
  font-family: "Brush Script MT", cursive;
  font-size: 48px;
  margin: 0;
  color: #333;
}

.middle-line {
  border-bottom: 1px dotted #666;
  width: 60%;
  margin: 5px auto 20px;
}

.course {
  font-size: 32px;
  font-style: italic;
  margin: 10px 0 20px;
}

.issued {
  font-size: 14px;
}

.badge {
  width: 90px;
  height: 90px;
  margin: 20px auto;
  background: #656565;
  border-radius: 50%;
  border: 4px solid #999;
}

.signature-area {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  padding: 0 70px;
}

.line {
  width: 150px;
  height: 1px;
  background: #333;
  margin: 10px auto;
}

.download-btn {
  margin-top: 20px;
  padding: 12px 25px;
  font-size: 18px;
  border: none;
  background: #3b3b3b;
  color: #fff;
  border-radius: 8px;
  cursor: pointer;
}

.download-btn:hover {
  background: #222;
}
